---
title: Open House Gdansk
layout: 'base.njk'
---

<h1>Kontakt</h1>



<p>Open House Gdynia<br>
Fundacja pura<br>
Wzgórze Bernadowo 272<br>
 81-583 Gdynia</p>

      <p>  tel. 607 897 636 </p>
    <p> media: <br>
        <a  href="mailto:pr@ohgdynia.org">pr@ohgdynia.org</a></p>
    <p> wolontariat: <br>
        <a  href="mailto:wolontariat@ohgdynia.org">wolontariat@ohgdynia.org</a></p>
    <p> info: <br>
        <a  href="mailto:info@ohgdynia.org">info@ohgdynia.org</a></p>


