---
title: Open House Gdansk
layout: 'base.njk'
---

<section class="section-services">
    <div class="services">
        <h1> O FESTIWALU </h1>
        <p>Open House Gdańsk od 2017 roku jest częścią międzynarodowego zrzeszenia festiwali Open House
            Worldwide, które odbywają się w ponad 50 miastach na świecie. </p>
        <p>Cykliczne, doroczne święto miejskiej architektury skupia uwagę na specyfice poszczególnych dzielnic-
        bohaterek, podejmując przy tym złożone i nierzadko uniwersalne zagadnienia przestrzenne oraz
        kulturowe. Zgodnie z nazwą festiwal jest zaproszeniem do odwiedzenia przestrzeni na co dzień
        niedostępnych, takich jak prywatne wnętrza mieszkalne czy zaplecza codziennych, publicznych
        aktywności (instytucje kultury, pracownie, galerie). Bogaty program, jak i poprzedzająca go,
        kilkumiesięczna praca w dzielnicy prowadzi do wytwarzania, zacieśniania oraz odnawiania więzi
        społecznych. Pozwala nakreślić portret mieszkańców i mieszkanek w kontekście architektury,
        architekturę zaś ukazuje w jej wielowymiarowości - materialnej oraz społeczno-kulturowej.
        Festiwal dofinansowany jest ze środków Miasta Gdańsk. Mecenasem festiwalu jest Invest Komfort.</p>

        <h2>„OPEN HOUSE JEST KLUCZEM DO POZNANIA I TRANSFORMACJI NOWOCZESNEJ
        PRZESTRZENI PUBLICZNEJ”</h2>

        <p>Victoria Thornton, Prezes i założycielka Open House Worldwide</p>
    </div>


</section>
