---
title: Open House Gdansk
layout: 'base.njk'
---
<h1 class="section-title"><span class="sub">5. Edycja Open House Gdańsk</span><br> DOLNE MIASTO I STARE PRZEDMIEŚCIE</h1>
<section class="section-services">

    <div class="services">

<p>Piąta edycja festiwalu architektury to doskonała okazja do tego, by porozmawiać o różnicach,
równowadze i równoważności w kontekście tożsamości architektonicznej, stereotypów w zawodach
projektowych, świadomości i odpowiedzialności środowiskowej. Namysłowi nad kondycją
architektury współczesności poddamy się, przemierzając część Śródmieścia Gdańska, która staje
obecnie wobec wyrazistych przemian i rozwoju. Odkryjemy na nowo Dolne Miasto i Stare
Przedmieście.</p>
    </div>
</section>




{#<section class="section-services">#}
{#    <div class="services">#}
{#        <p>Open House Gdynia od 2015 roku jest partnerem Open House Worldwide - międzynarodowego zrzeszenia festiwali, które odbywają się w ponad 50 miastach na świecie. Edycja gdyńska, będąca pierwszą w Polsce, co roku gromadzi kilkutysięczną publiczność złożoną z entuzjastów architektury i kontaktów międzyludzkich z całej Polski, a nawet spoza jej granic. W ramach współpracy z kolegami z innych krajów nasi najbardziej zaangażowani wolontariusze uczestniczą w partnerskich wydarzeniach Open House Worldwide. Odwiedzili już Barcelonę, Oslo i Pragę.</p>#}
{#        <p>Nasze cele to edukowanie, zbliżanie do siebie ludzi, zaufanie społeczne i eksploracja miasta czasem w nieoczywisty sposób. Zgrany zespół złożony z pasjonatów i ekspertów z różnych dziedzin, co roku buduje program zawierający znane i mniej znane zakątki śródmieścia i dzielnic peryferyjnych, współpracując z instytucjami i firmami. Od początku istnienia Open House Gdynia mecenasem festiwalu jest gdyński deweloper INVEST KOMFORT.</p>#}
{#        <p>Zapraszamy Was do Gdyni, jakiej nie znacie i jaką kochacie, gdzie znakomita architektura jest pretekstem do budowania zaufania społecznego i tworzenia historii, które przetrwają pokolenia.</p>#}
{#        <p>#zainspirujsięgdynią</p>#}

{#        <p> "OPEN HOUSE JEST KLUCZEM DO POZNANIA I TRANSFORMACJI NOWOCZESNEJ PRZESTRZENI PUBLICZNEJ"<p>#}

{#        <p>Victoria Thornton, Prezes i założycielka Open House Worldwide</p>#}
{#    </div>#}
{#    <div class="services">  <h4><a  class="hover-underline-animation" href="https://www.instagram.com/openhousegdynia/"> Śledź nas na Instagramie!</a></h4></div>#}

{#</section>#}
