---
title: Open House Gdansk - Poprzednie edycje
layout: 'base.njk'
---

Poprzednie Edycje


{%- for previous in collections.previous -%}
    <hr>
    <h3>{{previous.data.title}}</h3>
    <p> {{previous.date | date}}</p>
    <a href="{{previous.url}}">Przeczytaj więcej</a>
    <hr>
{%- endfor -%}
