---
title: Open House Gdansk - Program Festivalu
layout: 'base.njk'
---

<h1 class="main-title"> PROGRAM </h1>

<div class="wrapper">

<div class="events">

    {%- for program in collections.program -%}
<div class="event-wrapper">
        <div class="grid event" data-tag="{{program.data.tags}}">
            <div class="grid-title-container"><h3 class="event-title">{{program.data.title}}</h3></div>
            <img class="grid__img" src={{program.data.image}} alt="Bricks">
            <div class="grid__overlay grid__overlay--primary">
                <div class="grid-content">
                <p class="grid__description">{{program.data.location}}</p>
                <button class="button"><a href="{{program.url}}">Przeczytaj więcej</a></button>
                </div>
            </div>
        </div>
</div>

    {%- endfor -%}

</div>
<div class="sidebar">

    <div class="button-menu">
     <h4>Dzień:</h4>
    <button class="button"><a href="/sobota/">Sobota</a></button>
    <button class="button"><a href="/niedziela/">Niedziela</a></button>
    </div>

    <div class="button-menu">
        <h4>Tag:</h4>
    <button class="button" id="zwiedzanie">Zwiedzanie</button>
    <button class="button" id="spacer">Spacer</button>
    <button class="button" id="spotkanie">Spotkanie</button>
    <button class="button" id="wystawa">Wystawa</button>
    <button class="button" id="koncert">Koncert</button>
    <button class="button" id="wszystkie">Wszystkie</button>
    </div>
</div>
</div>








